#fitness-centrum {
  padding-top: 100px;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  .background {
    position: absolute;
    z-index: -1;
    width: calc(100% + var(--content-padding) * 2);
    height: 100%;
    background-image: url("../images/bg-fitness.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    left: calc(0px - var(--content-padding));
    top: 0;

    &::after {
      content: "";
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        270deg,
        rgba(22, 26, 29, 0.5) 0%,
        rgba(22, 26, 29, 0.6) 15%,
        rgba(22, 26, 29, 0.75) 25%,
        rgba(22, 26, 29, 0.9) 70%,
        rgba(22, 26, 29, 0.95) 100%
      );
    }
  }

  .separator {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100px;
    bottom: 0px;
    left: 0;

    background: linear-gradient(
      180deg,
      rgba(22, 26, 29, 0.1) 0%,
      rgba(22, 26, 29, 1) 88%
    );
  }
}

#otvaracie-hodiny {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  table {
    align-self: center;
    width: 80%;
    border-collapse: collapse;

    tr {
      td {
        width: 50%;
        text-align: center;
        font-size: 4rem;
        color: var(--white);
        font-weight: bold;

        &:first-child,
        &:last-child {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 5px;
            background: var(--red);
            left: 0;
            bottom: -2.5px;
          }
        }

        &:first-child {
          &::after {
            right: 0;
            left: auto;
          }
        }

        &:first-child {
          border-right: 5px solid var(--red);
        }
      }

      &:last-child {
        td {
          &::after {
            content: none;
          }
        }
      }
      &:nth-child(even) {
        td {
          &::after {
            width: 90%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 830px) {
  #otvaracie-hodiny {
    table {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 670px) {
  #otvaracie-hodiny {
    table {
      tr {
        td {
          font-size: 3rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  #otvaracie-hodiny {
    table {
      tr {
        td {
          font-size: 2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  #cennik {
    section.icon-title {
      margin-left: 0px;
      .title {
        span.icon {
          font-size: 2.25rem;
        }

        h2 {
          font-size: 1.5rem;
        }
      }

      p {
        font-size: 1rem;
        max-width: 100%;
        margin-left: calc(1.75rem + 20px + 10px);
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  #fitness-centrum {
    .background {
      background-position: 25%;
    }
  }

  #cennik {
    section.icon-title {
      p {
        span.price {
          margin-left: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 340px) {
  #otvaracie-hodiny {
    table {
      tr {
        td {
          font-size: 1.5rem;

          &:first-child,
          &:last-child {
            &::after {
              height: 2.5px;
              bottom: -1.25px;
            }
          }

          &:first-child {
            border-right: 2.5px solid var(--red);
          }
        }
      }
    }
  }
}
