#rozvrh {
  padding-top: 100px;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  .background {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100%;
    background-image: url("../images/bg-treningy.jpg");
    background-position: left;
    background-size: 125%;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    margin-left: calc(0px - var(--content-padding));

    &::after {
      content: "";
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100%;
      background: linear-gradient(
        270deg,
        rgba(22, 26, 29, 0.5) 0%,
        rgba(22, 26, 29, 0.6) 15%,
        rgba(22, 26, 29, 0.75) 25%,
        rgba(22, 26, 29, 0.9) 70%,
        rgba(22, 26, 29, 0.95) 100%
      );
    }
  }

  .separator {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100px;
    bottom: 0px;
    left: 0;

    background: linear-gradient(
      180deg,
      rgba(22, 26, 29, 0.1) 0%,
      rgba(22, 26, 29, 1) 88%
    );
  }

  .day {
    width: 100%;
    margin: 10px 0;

    .title {
      margin-left: 80px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      span.icon {
        font-size: 3rem;
        color: var(--red);
      }
      h2 {
        font-size: 2.5rem;
        color: var(--white);
        margin-left: 20px;
      }
    }

    .trainings {
      margin-top: 10px;
      margin-left: 80px;
      // display: grid;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .training {
        min-width: calc(30% - 40px);
        text-align: center;
        margin: 10px 20px;
        // padding: 0 20px;

        p.time {
          font-size: 2rem;
          color: var(--red);
          font-weight: bold;
        }
        p.type {
          font-size: 2rem;
          color: var(--white);
        }
      }
    }
  }
}

#treningy {
  margin-top: 40px;
  .training {
    margin: 40px 0;
    .title {
      margin-left: 80px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      span.icon {
        font-size: 3rem;
        color: var(--red);
      }
      h2 {
        font-size: 2.5rem;
        color: var(--white);
        margin-left: 20px;
      }
    }

    p.desc {
      margin: 10px calc(3rem + 20px) 10px calc(80px + 3rem + 20px);
      font-size: 1.75rem;
      color: var(--white);
    }

    &:nth-child(odd) {
      .title {
        flex-direction: row-reverse;
        margin-left: 0;
        margin-right: 0;

        h2 {
          margin-left: 0;
          margin-right: 20px;
        }
      }

      p.desc {
        text-align: right;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  #rozvrh {
    .day {
      .title {
        span.icon {
          font-size: 2.5rem;
        }
        h2 {
          font-size: 2rem;
        }
      }

      .trainings {
        .training {
          p.time,
          p.type {
            font-size: 1.75rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  #rozvrh {
    .background {
      background-size: cover;
    }
  }

  #treningy {
    .training {
      .title {
        margin-left: 0;
      }

      p.desc {
        margin: 10px calc(3rem + 20px) 10px;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  #rozvrh {
    .day {
      .title {
        margin-left: 40px;
      }

      .trainings {
        margin-left: 0;
        grid-template-rows: repeat(1, 1fr);

        .training {
          min-width: 33%;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  #cennik {
    section.icon-title {
      margin-left: 0px;
      .title {
        span.icon {
          font-size: 2.25rem;
        }

        h2 {
          font-size: 1.5rem;
        }
      }

      p {
        font-size: 1rem;
        max-width: 100%;
        margin-left: calc(1.75rem + 20px + 10px);
      }
    }
  }

  #treningy {
    .training {
      .title {
        span.icon {
          font-size: 2.5rem;
        }
        h2 {
          font-size: 2rem;
        }
      }

      p.desc {
        font-size: 1.5rem;
      }

      &:nth-child(odd) {
        p.desc {
          margin-left: 0;
        }
      }

      &:nth-child(even) {
        p.desc {
          margin-right: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  #rozvrh {
    .background {
      background-position: 25%;
    }
  }

  #cennik {
    section.icon-title {
      p {
        span.price {
          margin-left: 20px;
        }
      }
    }
  }

  #treningy {
    .training {
      .title {
        span.icon {
          font-size: 2.25rem;
        }
        h2 {
          font-size: 1.75rem;
        }
      }

      p.desc {
        margin: 10px 0;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  #rozvrh {
    .day {
      .title {
        margin-left: 10px;
        span.icon {
          font-size: 2rem;
        }
        h2 {
          font-size: 1.75rem;
          margin-left: 10px;
        }
      }
    }
  }
}
